$btn-font-weight: 400;
$list-item-dense-title-font-weight: 300;
$clear: "mdi-close-circle-outline";
$snackbar-wrapper-min-width: initial;
$tooltip-opacity: 1.0;
$alert-border-width: 2px;

// $material-dark:
// (
//     'text':
//     (
//         'theme'     : #FFFFFF,
//         'primary'   : #FFFFFF,
//         'secondary' : rgba(#FFFFFF, 0.9),
//         'disabled'  : rgba(#FFFFFF, 0.5),
//         'link'      : #82B1FF,
//         'link-hover': #eeeeee
//     )
// );
